Library/Application Support/Sublime Text 2/Packages/User/CMake Listfile.tmLanguage.cache
Library/Application Support/Sublime Text 2/Packages/Default/Startup.cache
Library/Application Support/Sublime Text 2/Packages/Default/Syntax Summary.cache
Library/Application Support/Sublime Text 2/Settings/Auto Save Session.sublime_session
Library/Application Support/Sublime Text 2/Settings/Session.sublime_session
Library/Application Support/Sublime Text 2/Backup
